doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/x-icon' href='/images/favicon.ico')
    link(rel='manifest', href='/images/site.webmanifest')
    title IS IEF_SPEELT LIVE?
    meta(name='viewport', content='width=device-width,initial-scale=1')
  body
    block content
